@import '../App.css';

.button_1 {
  background-color: var(--main-orange);
  color: var(--main-background);
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button_1:hover {
  background-color: var(--orange-light);
  color: var(--main-orange);
}

/* keyword styling */
.keyword {
  background-color: var(--main-orange);
  color: white;
  padding: 4px 12px;
  margin: 5px;
  border-radius: 8px;
}

.keyword button {
  color: white;
  background-color: transparent;
  font-size: 12px;
  border: none;
  padding: 0;
}

/* checkbox styling */
.checkboxLabel {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkboxLabel input[type="checkbox"]:checked {

  background-color: var(--orange-light);
}

.checkboxLabel input[type="checkbox"] {
  appearance: none;
  color: var(--orange-light);
  border: 1.5px solid var(--orange-light);
  border-radius: 2px;
  margin: 0;
  width: 16px;
  height: 16px;
  font: inherit;
  cursor: pointer;
  position: relative;
}

.checkboxLabel input[type="checkbox"]::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--main-orange);
  display: none;
}

.checkboxLabel input[type="checkbox"]:checked::before {
  display: block;
}

/* input styling */

.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.inputContainer input {
  width: 100%;
  border: solid 1px  var(--border-white-grey);
  color: var(--main-title-color);
  border-radius: 8px;
  padding-inline: 10px;
  transition: border-color 0.3s ease;
}

.inputContainer input::placeholder {
  font-style: italic;
  color: var(--text-color)
}

.inputContainer input:focus-visible,
.inputContainer input:focus {
  outline-color: var(--orange-light);
}


/* dish type selection */

.dishTypeFilter {
  flex-grow: 1;
  margin-left: 10px;
}

.dishTypeFilter label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dishTypeFilter label select{
outline-color:var(--orange-light);
border-color:var(--orange-light) ;
color: var(--label-text-color);
padding-block: 2px;
border-radius: 4px;
}