@import '../App.css';

.footer {
    background-color: var(--main-orange) !important;
    padding: 5px;
    text-align: center;
    color : var(--main-background);
    position: fixed;
}

.footerContent {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.customFooter {
    position: static !important; 
  }