.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: white;
  }
  
  .image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .heading {
    color: var(--main-orange);
    font-size: 2rem;

  }
  
  .text {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .link {
    color: white;
    background-color: var(--main-orange);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .link:hover {
    background-color: var(--orange-light);
  }