body{
  margin:0px;
  padding: 0px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.h1 {
  color:white;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  z-index: 1;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 40px;
  font-weight: 530;
}

.generalInfo{
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  margin: Opx;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.readyInMinutes{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.servings{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.labelsBox{
  width:400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.dietLabels{
  display: flex;
  align-items: center;
}

.EditBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
  }

.h2 {
  align-self: center;
  padding: 20px;
  color:#f4612d;
  font-size: 30px;
  font-weight: 600;
}

.Mainbox {
display: flex;
flex-direction: row;
}

.MainboxLeft{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  background-color: var(--background-light-grey);
  border-radius: 20px;
  margin: 10px;
  margin-left: 0px;
}

.recipeImage{
  max-width: 100%;
  border-radius: 5px;
  align-self: center;
  margin-top: 10px;
}

.instructions{
  max-width: 100%;
  align-self: center;
  margin: 60px;
  margin-top: 0px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}


.MainboxRight{
  display: flex;
  flex-direction: column;
   width: 30%;
}

.ingredients{
  margin: 10px;
  margin-right: 0px;
  padding: 30px;
  border-radius: 20px;
  border: var(--orange-light) solid 5px;
  background-color: white;
}

.ol {
list-style: decimal;
}

.ul {
list-style: circle;
padding-left: 20px; 
color: black;
font-weight: 600;
line-height: 2;
}



.icon {
  height: 30px;
}

