.h1 {
  color:#f4612d;
  font-size: 40px;
  font-weight: 600;
}

.h2 {
  color:#f4612d;
  font-size: 30px;
  font-weight: 600;
}
.Headerbox {
margin: 10px;
border-color: #f4c0b0;
border:#f4c0b0;
border-style: dashed;
border-radius: 6px;
display: flex;
flex-direction: row;
}

.HeaderboxLeft{
padding: 30px;
border-radius: 5px;
}

.HeaderboxRight {
display: flex;
flex-direction: column;
padding: 50px;
}

.Mainbox {
display: flex;
flex-direction: column;
padding: 20px;
}

.ol {
list-style: decimal;
}

.ul {
list-style: circle; 
}